@{
    ViewBag.Title = "About APEC";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<hr />
<h3>@ViewBag.Message</h3>
<div>
    <div class="center-block" style="background-color:#eeeeee">
        <h3 style="text-decoration:underline" class="text-primary">Company Overview :</h3>
        <p>
            <strong>
                -> An ISO 9001 :2015 certified young Engineering company<br />
                -> In the process of obtaining  AS9001 Certification<br />
                -> Established in the year 2013<br />
                -> The inceptors of this company have a strong  global experience of around 18years
                in providing manufacturing solutions & good hands on experience in CNC machines<br />
                -> Investment INR 250,000,00<br />

            </strong>
        </p>
    </div>
    <div class="center-block" style="background-color:#eeeeee">
        <h3 style="text-decoration:underline" class="text-primary">SCOPE OF OUR BUSINESS :</h3>
        <p>
            <strong>
                -> Manufacturing of precision engineering components to various Engineering
                Industries(Aerospace, Medical, Locomotive, Semi conductor, Energy etc.,)<br />
                -> Design & Manufacturing of Jigs & Fixtures for machining & assembly lines.<br />
                -> CAD & CNC Programming services.<br />
                -> Turnkey project services for batch & mass production machining lines.<br />
                -> Reverse Engineering from Design to make.<br />
                -> R & D support for OEM’s & development jobs.<br />
                -> Other manufacturing services.<br />

            </strong>
        </p>
    </div>
    <div class="center-block" style="background-color:#eeeeee">
        <h3 style="text-decoration:underline" class="text-primary">APEC’S MISSION :</h3>
        <p>
            <strong>
                To create a competitive advantage for our customers by creating and executing world class engineering and manufacturing solutions thereby enabling us to exceed the
                expectation of our customers in all aspects of their requirements.<br />

            </strong>
        </p>
    </div>
</div>

<p>Use this area to provide additional information.</p>
