@{
    ViewBag.Title = "Contact Details";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<hr />
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <address>
        <strong>
            Address:<br />
            Advanced Precision Engineering Company<br />
            No.22, 9th Cross,<br />
            Doddana Industrial Estate,<br />
            Peenya 2nd Stage,<br />
            Bangalore-560 091,<br />
            Karnataka,<br />
            INDIA<br />
            <br />
            <abbr title="Phone">Phone NO:</abbr><br />
            Raju.M.V <br />
            +91-8693939305
        </strong>
    </address>



    <address>
        <strong>Email:   <a href="mvraju_apec@yahoo.com">mvraju_apec@yahoo.com</a> </strong><br />

    </address>
</div>